<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apple.musicstructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LibraryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlbumsActivity"
            android:label="@string/albums"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArtistsActivity"
            android:label="@string/artists"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentActivity"
            android:label="@string/payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SongsActivity"
            android:label="@string/songs"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>